{% extends "base.html" %}
{% block title %}
<link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">
<title>FlaskBlogLogin</title>
{% endblock %}
{% block content %}
<form method = "post" action = "{{ url_for('login')}}">
<div align="center" class="regform position-absolute top-50 start-50 translate-middle">
    <h1 class="txt-t"><br>Login<br><br></h1>
    <div class="mb-3 row">
        <label for="mail" class="txt form-label">Email address</label>
        <div class="col-sm-30">
            <input type="email" class="inp form-control-lg" id="mail" value="{{i.mail}}" name="mail" placeholder="name@example.com">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="txt form-label">Password</label>
        <div class="col-sm-30">
            <input type="password" value = "{{i.passw}}" class="inp form-control-lg" id="inputPassword" name="inputPassword">
        </div>
    </div>
    <a href = "{{url_for('change_password')}}" class = 'txt-a'>Forgot your password?</a>
    <br>
    <h3 class="warn">{{i.error}}</h3>
    <br>
    <a href = ""><input class="btnn btn btn-primary btn-lg" type="submit" value="Login" name = "submit_btn"></a>
    <br>
    <br>
    <h1 class="txt">or</h1>
    <a class = "txt-a" href = "{{url_for('register')}}">Register</a>
    <br><br>
</div>
</form>
{% endblock %}