{% extends "user_account.html" %}

{% block modal %}
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to logout?</h5>
      </div>
      <div class="modal-body">
            You cannot undo this action!
      </div>
      <div class="modal-footer">
        <a href = "{{url_for('edit_account')}}" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
        <a href = "{{url_for('logout_ok')}}" class="btn btn-danger">Logout</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
$(document).ready(function(){
    $("#exampleModal").modal('show');
});
{% endblock %}