{% extends "base.html" %}
{% block title %}
<link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">
<title>FlaskBlogRegister</title>
{% endblock %}
{% block content %}
<form method = "post" action = "{{ url_for('register')}}">
<div align="center" class="regform position-absolute top-50 start-50 translate-middle">
    <h1 class="txt-t"><br>Register<br><br></h1>

    <div class="mb-3 row">
        <label for="name" class="txt form-label">Name</label>
        <div class="col-sm-30">
            <input type="text" class="inp form-control-lg" value ="{{i.name}}" id="name" name="name">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="mail" class="txt form-label">Email address</label>
        <div class="col-sm-30">
            <input type="email" class="inp form-control-lg" id="mail" value="{{i.mail}}" name="mail" placeholder="name@example.com">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="txt form-label">Password</label>
        <div class="col-sm-30">
            <input type="password" value = "{{i.passw}}" class="inp form-control-lg" id="inputPassword" name="inputPassword">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="confPassword" value = "{{i.passc}}" class="txt form-label">Confirm password</label>
        <div class="col-sm-30">
            <input type="password" class="inp form-control-lg" id="confPassword" name="confPassword">
        </div>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="man" {{i.checked_m}}>
        <label class="txt form-check-label" for="inlineRadio1">Man</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="woman" {{i.checked_w}}>
        <label class="txt form-check-label" for="inlineRadio2">Woman</label>
    </div>
    <br>
    <h3 class="warn">{{i.error}}</h3>
    <br>
    <input class="btnn btn btn-primary btn-lg" type="submit" value="Register" name = "submit_btn">
    <br>
    <h1 class="txt">or</h1>
    <a class = "txt-a" href = "{{url_for('login')}}">Login</a>
    <br><br>
</div>
</form>
{% endblock %}