{% extends "base.html" %}
{% block title %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<title>UserAccountFlaskBlog</title>
{% endblock %}
{% block content %}
<div>
<h1 class="txt-t">User Account <a href="{{url_for('logout')}}" class="text-danger" >
    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
</svg>
</a></h1>
<br>
<br>
<h1 class="txt">Name: <b style = "font-weight:900;font-size:30px;">{{user_name}}</b></h1>
    <br>
<br><h1 class="txt">Mail: <a href = "mailto:{{user_gmail}}"><b style = "font-weight:900;font-size:30px;">{{user_gmail}}</b></a></h1>
<br>
    <br>
<h2 class="txt">Your total amount of posts:
    <h1 class="txt-t">{{u_posts_am}}</h1>
</h2>
<br>
    <br>
<h1 class="txt">Your  posts:</h1>
<br>
    {% if  u_posts_am > 0 %}
{% for post in u_posts %}
<div class="card text-center mx-auto" style="width: 95%; border-radius: 30px;width: 90%">
    <div class="card-header">By {{post['author']}}</div>
    <div class="card-body">
        <h5 class="card-title">{{post['title']}}</h5>
        <p class="card-text"><span class="d-inline-block text-truncate" style="max-width:500px">{{post['content']}}</span></p>
        <a href = "{{ url_for('post',post_id = post['id']) }}" class="btn btn-primary">Read more</a>
    </div>
    <div class="card-footer text-muted">{{post['created_at']}}</div>
</div>
<br>
{% endfor %}
</div>
{% else %}
<h1 class="txt-t">You don't have any posts yet</h1>
{%endif%}

{% block modal %}{% endblock %}
{% endblock %}


{% block scripting %}
{% block script %}{% endblock %}
{% endblock %}